*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
}

button{
    border: none;
    background: none;
}

input{
    padding: 10px 10px;
    outline: none;
    border: 1px solid #e6ecf0;
    margin-right: 10px;
    width: 350px;
}

h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 50px;
}

.all{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.addTodo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

h2{
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;

}
.listElement{
    font-size: 18px;
    list-style: none;
    margin-bottom: 10px;
    background: #d6e7ec;
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
}

.bloco{
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 10px;
}